*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


/*Estilos index2*/
/*navbar*/


p .navbar-text.text-center, .country{
    position: absolute;
    left: 50%;
    text-align: center;
    color: #000;
    font-size: 2.5em;
    margin-top: 30px;
}


.navbar-default{
	background-color: transparent;
	border:none;
}

.navbar-default .navbar-text {
    color: #000;
    font-size: 2.5em;
}

nav div.container-fluid{
	border-bottom: 1px solid #666;
	height: 150px;
}

.sub{
	margin-top: -20px;
	padding: 20px;
	border:none;
	background-color: #efeff4;
	font-size: 0.5em;
}

.fa-chevron-left, .close{
	color: #000;
	margin-top: 30px;
}

#probando{
	background-color: red;
	width: 50px;

}
/*Estilos banderas*/
.flag{
	width: 100%;
}

.flag.band{
	width: 5%;
}

.add-flagg1{
	background-image: url(../img/banderas/argentina.png);
}

/*Estilo button next*/
.next{
	margin-top: 500px;
	background-color: #ff05b8;
	color: #fff;
	width: 100%;
	height: 3em;
	border:none;
}